<div class="well bs-component">
<div class="row">

    <div class="col-md-1">
        <br>
        <div class="row">
            <div class="text-center">
                <button ng-click="entry.$up()" ng-disabled="!($root.hasUser)" class="btn-transparent"><span class="icon-material-keyboard-arrow-up"></span></button>
            </div>
            <div class="text-center">{{entry.rating.value}}</div>
            <div  class="text-center">
                <button ng-click="entry.$down()" ng-disabled="!($root.hasUser)" class="btn-transparent"><span class="icon-material-keyboard-arrow-down"></span></button>
            </div>
        </div>
    </div>

    <div class="col-md-11">
        <h1>{{entry.title}} <small>({{entry.url}})</small></h1>
        <p>submitted {{entry.createTime | relativeDate}} by <strong>{{entry.author}}</strong></p>
    </div>

</div>
</div>

<script type="text/ng-template" id="comments.html">

    <div class="row">
        <div class="col-md-1">
            <div class="row" ng-controller="CommentListCtrl">
                <div class="text-center">
                    <button ng-disabled="!($root.hasUser)" class="btn-transparent" ng-click="$up()"><span class="icon-material-keyboard-arrow-up"></span></button>
                </div>
                <div class="text-center">{{comment.rating.value}}</div>
                <div  class="text-center">
                    <button ng-disabled="!($root.hasUser)" class="btn-transparent" ng-click="$down()"><span class="icon-material-keyboard-arrow-down"></span></button>
                </div>
            </div>
        </div>

        <div class="col-md-11">
            <p>{{comment.text}}</p>
            <p class="small comment-info">
                submitted {{comment.createTime | relativeDate}} by <strong>{{comment.author}}</strong>&nbsp;&nbsp;|
                <button class="btn btn-link btn-xs" ng-show="$root.hasUser" ng-click="comment.showAddComment = !comment.showAddComment">Add Comment</button>
            </p>
        </div>

    </div>

    <div class="row">
        <div class="col-md-11 col-md-offset-1">

            <div class="well bs-component" ng-show="comment.showAddComment">
                <form class="form-horizontal" ng-controller="CommentAddCtrl">

                    <div class="form-group">
                        <div class="col-lg-12">
                            <textarea class="form-control" rows="3" ng-model="addComment.text" placeholder="Awesome comment"></textarea>
                            <span class="help-block">Lorem ipsum info text.</span>
                        </div>
                        <div class="col-lg-12">
                            <button class="btn btn-primary pull-right" ng-click="$save()">Add Comment</button>
                        </div>
                    </div>

                </form>
            </div>

            <div class="comment-container" id="comment-{{comment.id}}" ng-repeat="comment in comment.comments" ng-include="'comments.html'"></div>


        </div>
    </div>

</script>

<br>
<h3>Comments <button class="btn btn-link" ng-click="entry.showAddComment = !entry.showAddComment" ng-show="$root.hasUser">Add Comment</button></h3>

<div class="row" ng-show="entry.showAddComment">
<div class="col-md-11 col-md-offset-1">
<div class="well bs-component" >
    <form class="form-horizontal" ng-controller="CommentAddCtrl">

        <div class="form-group">
            <div class="col-lg-12">
                <textarea class="form-control" rows="3" ng-model="addComment.text" placeholder="Awesome comment"></textarea>
                <span class="help-block">Lorem ipsum info text.</span>
            </div>
            <div class="col-lg-12">
                <button class="btn btn-primary pull-right" ng-click="$save()">Add Comment</button>
            </div>
        </div>

    </form>
</div>
</div>
</div>

<div class="comment-container" id="comment-{{comment.id}}" ng-repeat="comment in entry.comments" ng-include="'comments.html'"></div>
<br>