

<div class="row" ng-repeat="entry in entries">
    <div class="col-md-1">
        <br>
        <div class="row">
            <div class="text-center">
                <span class="icon-material-keyboard-arrow-up"></span>
            </div>
            <div class="text-center">{{entry.rating.value}}</div>
            <div  class="text-center">
                <span class="icon-material-keyboard-arrow-down"></span>
            </div>
        </div>
    </div>

    <div class="col-md-11">
        <h4><a href="{{entry.url}}" target="_blank">{{entry.title}}</a></h4>

        <p>submitted {{entry.createTime | relativeDate}} by <strong>{{entry.author}}</strong></p>
        <p>
            <a href="entries/{{entry.id}}">
                <span class="icon-material-forum"></span> &nbsp;
                {{entry.comments.length}} comment(s).
            </a>
        </p>

    </div>
</div>