

<div class="row" ng-repeat="entry in entries | orderBy:'rating.value':true" ng-controller="EntryListListenerCtrl">
    <div class="col-xs-1">
        <br>
        <div class="row">
            <div class="text-center">
                <button ng-click="entry.$up()" ng-disabled="!($root.hasUser)" class="btn-transparent"><span class="icon-material-keyboard-arrow-up"></span></button>
            </div>
            <div class="text-center">{{entry.rating.value}}</div>
            <div  class="text-center">
                <button ng-click="entry.$down()" ng-disabled="!($root.hasUser)" class="btn-transparent"><span class="icon-material-keyboard-arrow-down"></span></button>
            </div>
        </div>
    </div>

    <div class="col-xs-11">
        <h4><a href="{{entry.url}}" target="_blank">{{entry.title}}  <small>({{entry.url | domainName}})</small></a></h4>

        <p>submitted {{entry.createTime | relativeDate}} by <strong>{{entry.author}}</strong></p>
        <p>
            <a href="entries/{{entry.id}}">
                <span class="icon-material-forum"></span> &nbsp;
                {{entry.comments | recursiveCommentCount}} comment(s).
            </a>
        </p>

        <br>
    </div>
</div>

<br><br>