<div class="well bs-component">
<div class="row">

    <div class="col-md-1">
        <br>
        <div class="row">
            <div class="text-center">
                <button ng-click="entry.$up()" ng-disabled="!($root.hasUser)" class="btn-transparent"><span class="icon-material-keyboard-arrow-up"></span></button>
            </div>
            <div class="text-center">{{entry.rating.value}}</div>
            <div  class="text-center">
                <button ng-click="entry.$down()" ng-disabled="!($root.hasUser)" class="btn-transparent"><span class="icon-material-keyboard-arrow-down"></span></button>
            </div>
        </div>
    </div>

    <div class="col-md-11">
        <h1>{{entry.title}} <small>({{entry.url}})</small></h1>
        <p>submitted {{entry.createTime | relativeDate}} by <strong>{{entry.author}}</strong></p>
    </div>

</div>
</div>

<script type="text/ng-template" id="comments.html">

    <div class="row">
        <div class="col-md-1">
            <div class="row">
                <div class="text-center">
                    <button ng-disabled="!($root.hasUser)" class="btn-transparent"><span class="icon-material-keyboard-arrow-up"></span></button>
                </div>
                <div class="text-center">{{comment.rating.value}}</div>
                <div  class="text-center">
                    <button ng-disabled="!($root.hasUser)" class="btn-transparent"><span class="icon-material-keyboard-arrow-down"></span></button>
                </div>
            </div>
        </div>

        <div class="col-md-11">
            <h4>{{comment.author}} <small>submitted {{comment.createTime | relativeDate}}</small></h4>
            <p>{{comment.text}}</p>
        </div>

    </div>

    <div class="row" ng-if="comment.comments.length > 0">
        <div class="col-md-10 col-md-offset-2">
            <div class="comments" ng-repeat="comment in comment.comments" ng-include="'comments.html'"></div>
        </div>
    </div>

</script>
<br>
<h3>Comments</h3>

<div class="comments" ng-repeat="comment in entry.comments" ng-include="'comments.html'"></div>
<br>