.btn-transparent {
    background-color:transparent;
    display:inline-block;
    border:none;
    color:#428bca;
}

.btn-transparent:hover {
    color:#2a6496;
}

.btn-transparent:disabled {
    color:#ccc;
}

.comment-info {
    color:#999;
}

.comment-info button {
    padding:0;
    margin: 0 0 0 5px;
    color:#999;
    text-decoration:underline;
}

.comment-container {
    margin-top:20px;
}

textarea.ng-invalid.ng-dirty, input.ng-invalid.ng-dirty {
    /*background-color: #FA787E;*/
}

textarea.ng-valid.ng-dirty, input.ng-valid.ng-dirty {
    /*background-color: #78FA89;*/
}