.btn-transparent {
    background-color:transparent;
    display:inline-block;
    border:none;
    color:#428bca;
}

.btn-transparent:hover {
    color:#2a6496;
}

.btn-transparent:disabled {
    color:#ccc;
}

.comment-info {
    color:#999;
}

.comment-info button {
    padding:0;
    margin: 0 0 0 5px;
    color:#999;
    text-decoration:underline;
}